<h1>Edit Plot lease</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.plot_lease_path(@conn, :update, @plot_lease)) %>

<span><%= link "Back", to: Routes.plot_lease_path(@conn, :index) %></span>
